#div-login {
    margin:0 auto;
    padding: 20px;

        button {
            border: none;
            padding: 5px;
            border-radius: 5px;
            margin: 2px;
            color: white;
            cursor: pointer;
            background-color: rgb(145, 158, 166);

            &:hover {
                background-color: rgb(98, 108, 114);
            }
        }
}