.prodotto-in-ordine{
    background-color: rgb(248, 254, 254);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 5px 5px 10px gray;
    max-width: 800px;
    margin-top: 20px;

    img {
        display: block;
        width: 60px;
        height: 80px;
        margin: 10px;
    }

    span{
        font-size: 12px;
        color: grey;
    }
}