#div-nuovo-prodotto{
    background-color: #f8fefe;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px grey;
    width: 415px;
    margin: 0 auto;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input,  textarea{
        margin-bottom: 5px;
        border: 1px solid rgb(145, 158, 166);
        border-radius: 6px;
        height: 22px;
        width: 300px;
    }

    textarea{
        height: 50px;
    }

    label{
        font-weight: bold;
        color: rgb(145, 158, 166);
    }

    button{
        border: none;
        background-color: rgb(145, 158, 166);
        border-radius: 6px;
        margin-top: 10px;
        max-width: 100px;
        padding: 5px;
        color: white;
    }
}